* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr; 
  min-height: 100vh;
}

.sidebar {
  background-color: blue;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}